*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #252525;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.container{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}


.container p{
    max-width: 450px;
    margin: 0 auto 20px auto;
    text-align: justify;
    line-height: 1.7;
}
.container p.bencao{
    text-align: center;
    color: #ffffff;
    font-style: italic;
}

.logo{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

h1{
    color: #f4c542;
    margin-bottom: 20px;
}

p{
    line-height: 1.7;
    margin-bottom: 15px;
}

.redes-sociais{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.redes-sociais a{
    color: #00e676;
    text-decoration: none;
}

.iconesredes{
    height: 40px;
    width: 40px;
}

.iconesredes{
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.iconesredes:hover{
    transform: scale(1.15);
}